<h1>My tasks</h1>

<% @tasks.each do |task| %>
  <div class="task">
    <% if task.completed%>
      <i class="fas fa-check-circle"></i>
    <% else %>
      <i class="fas fa-times-circle"></i>
    <% end %>
    <label for="completed"><%= link_to task.title, task_path(task) %></label>
  </div>
<% end %>
<br>
<%= link_to 'Add a new task', new_task_path %>
