<h1>My tasks</h1>

<% @tasks.each do |task| %>
  <div class="task">
    <input type="checkbox" name="completed" id="completed" <%= "checked" if task.completed %> >
    <label for="completed"><%= link_to task.title, task_path(task) %></label>
  </div>
<% end %>
<br>
<%= link_to 'Add a new task', new_task_path %>
